@{
    ViewBag.Title = "Home Page";  
}


<div>
    <div>
        <img width="250" src="https://images-na.ssl-images-amazon.com/images/I/51a3mOcIR%2BL.jpg" alt="Mona Lisa" />
        <H2>Mona Lisa</H2>
        <ul>
            <li>Price: $250k</li>
            <li>Artist: Leanardo Da Vinci</li>
            <li>Title: Mona Lisa</li>
            <li>Description: Sad</li>
        </ul>
        <button id="buybtn" class="btn btn-success">Buy</button>
    </div>
</div>
